*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#22c55e;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.loginBox{

background:white;

padding:40px;

width:380px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

text-align:center;

}

.logo{

color:#22c55e;

font-size:30px;

margin-bottom:20px;

}

input{

width:100%;

padding:15px;

margin-top:15px;

border:1px solid #ddd;

border-radius:10px;

}

button{

margin-top:20px;

width:100%;

padding:15px;

background:#22c55e;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:600;

cursor:pointer;

}

button:hover{

background:#16a34a;

}

.loginBox{

animation:fade .5s ease;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

input:focus{

border:2px solid #22c55e;

outline:none;

}

a{

color:#22c55e;

font-weight:600;

}

a:hover{

text-decoration:underline;

}